* {
    font-family: "Work Sans";
    margin: 0;
    font-weight: 400;
    color: #2c4755;
    letter-spacing: -1px;
}

body {
    background-color: #ffffff;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 375px 25px 375px;
    align-items: center;
    background-color: #fff;
}

.logo {
    cursor: pointer;
}

.logo img {
    max-width: 45px;
    max-height: 30px;
}

.menu img {
    max-width: 40px;
    max-height: 26px;
}

/* Menu */

.background_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2c4755; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.title_menu p {
    font-size: 20px;
    color: #637988;
    padding: 0 0 30px 60px;
}

.block_menu .title_menu {
    padding-top: 60px;
}

.block_get-in-touch .title_menu {
    padding-top: 45px;
}

.block_get-social .title_menu {
    padding-top: 45px;
}

.background_menu a {
    padding: 0 8px 14px 60px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
}

.background_menu a:hover {
    color: #10cab7;
}

.block_get-in-touch .tab-selection_get-in-touch a {
    font-size: 20px;
    color: #10cab7;
}

.block_get-social .tab-selection_get-social a {
    font-size: 20px;
}

.background_menu .closebtn {
    position: absolute;
    top: 35px;
    font-size: 36px;
}

.background_menu .closebtn img {
    height: 20px;
    width: 20px;
}

/* Hero */

.hero {
    background-color: #fafafa;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/background.jpg);
    background-position: center;
}

.sub-title_hero {
    background-color: #ffffff;
    width: 1070px;
    height: 170px;
}

.subtitle_hero p {
    color: #575757;
    font-size: 20px;
    margin: 35px 0 0 100px;
}

.title_hero p {
    color: #10cab7;
    font-weight: 800;
    font-size: 55px;
    margin: 20px 0 0 100px;
}

/* Info and Details */

.info-details {
    margin: 80px 405px 100px 475px;
    display: flex;
    justify-content: space-between;
}

.sub-title_info {
    margin-top: 45px;
}

.title_info p {
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
}

.underline_info {
    background-color: #10cab7;
    width: 270px;
    height: 3px;
    margin: 50px 0 20px 0;
}

.subtitle_info p {
    font-size: 15px;
    color: #575757;
    line-height: 32px;
}

.details {
    box-shadow: 1.95px 1.95px 7px 0px rgba(0, 0, 0, 0.15);
    width: 310px;
    height: 400px;
}

.category_details {
    padding: 72.5px 0 50px 80px;
}

.autor_details {
    margin: 0 0 50px 80px;
}

.year_details {
    margin-left: 80px;
}

.title_details p {
    color: #334752;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 15px;
}

.subtitle_details p {
    color: #575757;
    font-size: 15px;
}

.btn_portfolio {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.btn_portfolio input {
    border: 1px solid black;
    background-color: #fafafa;
    width: 155px;
    height: 45px;
    color: black;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.btn_portfolio input:hover {
    background-color: black;
    color: #fafafa;
}

/* Images */

.image1 {
    margin: 0 375px 75px 375px;
}

.image_image1 {
    background-color: #dedede;
    min-width: 1170px;
    height: 535px;
    background-image: url(../../../images/banner-img-company.png);
    background-position: center;
    background-size: auto 535px;
}

.image2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 375px 95px 475px;
}

.text_image2 p {
    color: #575757;
    font-size: 15px;
    line-height: 32px;
}

.image_image2 {
    background-color: #dedede;
    width: 570px;
    height: 365px;
    background-image: url(../../../images/men-work.jpg);
    background-position: center;
    background-size: auto 380px;
}

.image3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 475px 0 375px;
}

.image_image3 {
    background-color: #dedede;
    width: 570px;
    height: 365px;
    background-image: url(../../../images/people.jpeg);
    background-position: center;
    background-size: auto 440px;
}

.text_image3 p {
    color: #575757;
    font-size: 15px;
    line-height: 32px;
}

/* Footer */

.footer {
    background-color: #fafafa;
    width: 100%;
    height: 720px;
}

.sub-title_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0 155px 0;
}

.title_footer p {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: #ebeced;
}

.subtitle_footer {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 2925px;
    left: 825px;
    color: #575757;
}

@media screen and (min-width: 2000px) and (max-width: 2300px){
    .subtitle_footer {
        left: 44.5%;
    }
}

@media screen and (min-width: 2301px) and (max-width: 2700px){
    .subtitle_footer {
        left: 45.5%;
    }
}

.info_footer {
    margin-left: 375px;
}

.title-info_footer p {
    color: #334752;
    font-weight: 800;
    font-size: 55px;
}

.subtitle-info_footer p {
    color: #10cab7;
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    margin-left: 45px;
}

.path-info_footer {
    background-color: #ffffff;
    width: 605px;
    height: 35px;
    position: absolute;
    top: 3230px;
    left: 375px;
    opacity: .99;
}

.social_footer {
    margin: 100px 0 0 480px;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}

.text-social_footer p {
    color: #334752;
    font-size: 15px;
}

.image-socail_footer {
    display: flex;
    column-gap: 30px;
}

.instagram img {
    max-width: 27px;
    max-height: 27px;
}

.facebook img {
    max-width: 27px;
    max-height: 25px;
}

.twitter img {
    max-width: 27px;
    max-height: 25px;
}

/* Bottom Footer */

.bottom_footer {
    background-color: #2c4755;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bottom_footer p, span {
    color: white;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0;
}

/* Sticky Navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 60.6%;
    z-index: 2;
}

@media screen and (min-width: 2000px) and (max-width: 2300px){
    .sticky {
        width: 63.5%;
    }
}

@media screen and (min-width: 2301px) and (max-width: 2700px){
    .sticky {
        width: 70.7%;
    }
}

.sticky_main {
    margin-top: 85px;
}