* {
    font-family: "Work Sans";
    margin: 0;
    font-weight: 400;
    color: #2c4755;
    letter-spacing: -1px;
}

body {
    background-color: #ffffff;
}

/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 375px 25px 375px;
    align-items: center;
    background-color: #fff;
}

.logo {
    cursor: pointer;
}

.logo img {
    max-width: 45px;
    max-height: 30px;
}

.menu img {
    max-width: 40px;
    max-height: 26px;
}

.info-leon {
    /* background-color: #f6f6f6; */
    width: 100%;
    min-height: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
    background-image: url(../../images/mountain.png);
    background-repeat: no-repeat;
    background-position: bottom; 
    /* opacity: 0.50; */
}

.title_info-leon p {
    font-weight: 800;
    font-size: 55px;
    color: #10cab7;
    margin-top: 50px;
}

.subtitle_info-leon p {
    font-size: 20px;
    text-align: center;
}

/* Menu */

.background_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2c4755; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}

.title_menu p {
    font-size: 20px;
    color: #637988;
    padding: 0 0 30px 60px;
}

.block_menu .title_menu {
    padding-top: 60px;
}

.block_get-in-touch .title_menu {
    padding-top: 45px;
}

.block_get-social .title_menu {
    padding-top: 45px;
}

.background_menu a {
    padding: 0 8px 14px 60px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
}

.background_menu a:hover {
    color: #10cab7;
}

.block_get-in-touch .tab-selection_get-in-touch a {
    font-size: 20px;
}

.block_get-social .tab-selection_get-social a {
    font-size: 20px;
}

.background_menu .closebtn {
    position: absolute;
    top: 35px;
    font-size: 36px;
}

.background_menu .closebtn img {
    height: 20px;
    width: 20px;
}

/* Work */

.work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.work1, .work2, .work3 {
    min-width: 630px;
    min-height: 400px;
}

.work2 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* Work images */

.work img {
    margin-top: 85px;
}

.work1 img {
    max-width: 70px;
    max-height: 70px;
}

.work2 img {
    max-width: 60px;
    max-height: 75px;
}

.work3 img {
    max-width: 65px;
    max-height: 75px;
}

.title_work p {
    font-weight: 800;
    font-size: 20px;
    margin: 50px 0 35px 0;
}

.subtitle_work p {
    font-size: 15px;
    line-height: 30px;
    color: #575757;
}

/* Services */

.services {
    margin: 0 375px 105px 375px;
    padding-top: 70px;
}

.sub-title_services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 145px;
}

.title_services {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: rgba(246,246,246,1);
}

.subtitle_services {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 1145px;
    left: 800px;
    color: #575757;
}

/* Services blocks  */

.service_block {
    display: flex;
    justify-content: space-between;
}

.services-flex {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    column-gap: 10px;
}

.image_service {
    margin-right: 40px;
}

.sub-title_service {
    margin-right: 60px;
    margin-bottom: 40px;
}

.title_service p {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 40px;
    color: #1f2021;
}

.subtitle_service p {
    font-size: 15px;
    line-height: 25px;
    color: #575757;
}

/* Service image */

.image1_service img {
    max-width: 38px;
    max-height: 38px;
}

.image2_service img {
    max-width: 38px;
    max-height: 38px;
}

.image3_service img {
    max-width: 40px;
    max-height: 35px;
}

.image4_service img {
    max-width: 42px;
    max-height: 30px;
}

.image-img_service {
    background-color: #f6f6f6;
    width: 300px;
    height: 330px;
    margin-right: 40px;
    box-shadow: -2px 2px 8px -4px rgba(44, 71, 85, 1);
    background-image: url(../../images/mountion2.jpg);
    background-position: top -300px right -700px;
    background-repeat: no-repeat;
}

.path-img_service {
    background-color: #2c4755;
    width: 100px;
    height: 430px;
    position: absolute;
    top: 1300px;
    right: 375px;
    z-index: -1;
    opacity: .99;
}

/* Portfolio */

.portfolio {
    background-color: #fafafa;
    width: 100%;
    padding: 75px 0 70px 0;
}

.sub-title_portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.title_portfolio p {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: #ebeced;
}

.subtitle_portfolio {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 2065px;
    left: 770px;
    color: #575757;
}

/* Image block portfolio */

.image-flex_portfolio {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.image_portfolio {
    background-color: #f6f6f6;
    width: 500px;
    height: 370px;
}

.image1_portfolio {
    background-image: url(../../images/macbook.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 570px 370px;
}

.image2_portfolio {
    background-image: url(../../images/book.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 570px 370px;
}

.image3_portfolio {
    background-image: url(../../images/macbook2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 570px 370px;
}

.sub-title_image_portfolio {
    background-color: #ffffff;
    padding-top: 25px;
}

.title_image_portfolio p {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 20px 30px;
    color: #1f2021;
}

.subtitle_image_portfolio p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 0 26px 30px;
    line-height: 25px;
    color: #575757;
}

/* Button portfolio */

.btn_portfolio {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.btn_portfolio input {
    border: 1px solid black;
    background-color: #fafafa;
    width: 155px;
    height: 45px;
    color: black;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.btn_portfolio input:hover {
    background-color: black;
    color: #fafafa;
}

/* About */

.about {
    margin: 0 375px 70px 375px;
    padding-top: 95px;
}

.sub-title_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.title_about p {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: #ebeced;
}

.subtitle_about {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 3110px;
    left: 865px;
    color: #575757;
}

.info-flex_about {
    display: flex;
    justify-content: space-between;
}

.path1-info_about {
    background-color: #fafafa;
    width: 110px;
    height: 455px;
    position: absolute;
    top: 3255px;
    left: 375px;
    opacity: .99;
}

.img-info_about {
    background-color: #f6f6f6;
    width: 300px;
    height: 330px;
    box-shadow: -2px 2px 8px -4px rgba(44, 71, 85, 1);
    position: absolute;
    margin-left: 15px;
    background-image: url(../../images/planet1.png);
    background-position: center;
    background-size: auto 340px;
}

.path2-info_about {
    background-color: #10cab7;
    width: 90px;
    height: 295px;
    position: absolute;
    top: 3290px;
    left: 635px;
    opacity: .99;
    z-index: -1;
}

.path3-info_about {
    background-color: #10cab7;
    width: 190px;
    height: 70px;
    position: absolute;
    top: 3515px;
    left: 635px;
    opacity: .99;
    z-index: -1;
}

.title-info_about p {
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
}

.underline-info_about {
    width: 270px;
    height: 3px;
    background-color: #10cab7;
    margin: 55px 0 25px 0;
}

.subtitle-info_about p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #575757;
}

/* Footer */

.footer {
    background-color: #fafafa;
    width: 100%;
    height: 720px;
}

.sub-title_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0 155px 0;
}

.title_footer p {
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: #ebeced;
}

.subtitle_footer {
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    top: 3875px;
    left: 850px;
    color: #575757;
}

.info_footer {
    margin-left: 375px;
}

.title-info_footer p {
    color: #334752;
    font-weight: 800;
    font-size: 55px;
}

.subtitle-info_footer p {
    color: #10cab7;
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    margin-left: 45px;
}

.path-info_footer {
    background-color: #ffffff;
    width: 605px;
    height: 35px;
    position: absolute;
    top: 4180px;
    left: 375px;
    opacity: .99;
}

.social_footer {
    margin: 100px 0 0 480px;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
}

.text-social_footer p {
    color: #334752;
    font-size: 15px;
}

.image-socail_footer {
    display: flex;
    column-gap: 30px;
}

.instagram img {
    max-width: 27px;
    max-height: 27px;
}

.facebook img {
    max-width: 27px;
    max-height: 25px;
}

.twitter img {
    max-width: 27px;
    max-height: 25px;
}

/* Bottom Footer */

.bottom_footer {
    background-color: #2c4755;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bottom_footer p, span {
    color: white;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0;
}

/* Sticky Navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 60.6%;
    z-index: 2;
}

.sticky_main {
    padding-top: 85px;
}